<div id="main" class="flex min-h-dvh justify-center bg-main-bg pt-2">
  <div id="dashboard" class="felx mt-2 w-8/10 justify-center gap-4 p-2">
    <h1 class="font-bold text-white text-2xl">Panel</h1>
    <div id="post_box" class="flex flex-col rounded-xl bg-white/50 p-2">
      <%= render 'userlist' %>
    </div>
  </div>
</div>