<div id="main" class="flex min-h-dvh justify-center bg-main-bg pt-2">
  <div id="dashboard" class="felx mt-2 w-8/10 justify-center gap-4 p-2">
    <div class="w-full flex justify-between">
    <h1 class="font-bold text-white text-2xl flex">Dashboard</h1>
    <button id="run-sidekiq-test" class="m-2 p-2 btn bg-red-400/50 hover:bg-red-400">Download posts</button>
<!--    <p id="sidekiq-response"></p>-->
    </div>
    <div id="post_box" class="flex flex-col rounded-xl bg-white/50 p-2">
      <%= render @posts %>
    </div>
  </div>
</div>

<script>
    document.getElementById("run-sidekiq-test").addEventListener("click", async () => {
        try {
            const res = await fetch("/worker_jobs", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content
                },
                body: JSON.stringify({})
            });
            const data = await res.json();
            console.log(data);
        } catch (error) {
            console.error("Błąd fetch:", error);
        }
    });

</script>
